/* ========== BROWSER RESET ========== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========== FONTS/ICONS ========== */

h1.site-title {
	position: relative;
	top: 3%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5rem;
	word-spacing: 2.175rem;
	font-size: 1.75rem;
	color: #ffffff;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, .7);
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	font-style: bold;
	word-spacing: .5rem;
	text-transform: uppercase;
	margin-top: 40px;
	margin-left: 20px;
	margin-bottom: 30px;
}

h3.footer-subtitle {
	margin-top: 20px;
	margin-right: 30px;
	padding: 0;
	letter-spacing: .75rem;
	word-spacing: 1.5rem;
	font-size: 1.2rem;
	text-align: right;
	color: #ffffff;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, .7);
}

h3#project-heading {
	margin-top: 50px;
	margin-right: 0;
	text-align: center;
	color: #ffffff;
}

h3.white-h3 {
	color: #ffffff;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	text-align: center;
	word-spacing: .5rem;
}

h4.project-tech{
	color: #ffffff;
	text-align: left;
	text-transform: none;
	margin-left: 20px;
	margin-bottom: 25px;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	margin-top: 7px;
	text-align: center;
	word-spacing: .3rem;
}

h6 {	
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	text-align: center;
}


p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.45rem;
	margin-left: 20px;
	margin-bottom: 1.25rem;
	margin-right: 20px;
}

p.white-text {
	color: #ffffff;
}

p.button-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
	font-style: bold;
	text-align: center;
	margin-bottom: 0;
	color: #ffffff;
}

a#download-resume {
	text-decoration: none;
}

a.view-live {
	text-decoration: none;
}

a i.fa {
	color: #000000;
}

i.fa {
	font-size: 1.5rem;

	-webkit-transition: transform .2s;
	-moz-transition: transform .2s;
	-o-transition: transform .2s;
	transition: transform .2s;
}

i.fa:hover {
	opacity: .5;
	transform: scale(1.25);

	-webkit-transition: transform .3s;
	-moz-transition: transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
}

/* ========== ANIMATIONS ========== */

@-webkit-keyframes swell {
	0% {
		background-size: 100%;
	}

	100% {
		background-size: 125%;
	}
}

@-moz-keyframes swell {
	0% {
		background-size: 100%;
	}

	100% {
		background-size: 125%;
	}
}

@-o-keyframes swell {
	0% {
		background-size: 100%;
	}

	100% {
		background-size: 125%;
	}
}

@keyframes swell {
	0% {
		background-size: 100%;
	}

	100% {
		background-size: 125%;
	}
}

@-webkit-keyframes rise {
	0% {
		height: 0;
	}

	100% {
		height: 700px;
	}
}

@-moz-keyframes rise {
	0% {
		height: 0;
	}

	100% {
		height: 700px;
	}
}

@-o-keyframes rise {
	0% {
		height: 0;
	}

	100% {
		height: 700px;
	}
}

@keyframes rise {
	0% {
		height: 0;
	}

	100% {
		height: 700px;
	}
}

/* ========== MAIN ========== */

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.button01 {
	width: 250px;
	height: 50px;
	background: #ff3300;
	text-align: center;
	border-radius: 16px;
	margin: auto;
	padding: 0;
}

.button02 {
	margin-left: 20px;
	width: 108px;
	background: #ff3300;
	border-radius: 8px;
}

.button01:hover, .button02:hover {
	cursor: pointer;
	background: #b32400;
}

/* ===== Header ===== */

header {
	width: 100%;
	height: 30px;
	padding: 10px 30px;
	margin: 0;
}

/* ===== Navigation ===== */

nav {
	position: absolute;
	top: 0;
	right: 0px;
	width: 0px;
	padding-top: 75px;
	z-index: 10;
	width: 0px;

	-webkit-transition: background .65s, width .75s ease-in-out;
	-moz-transition: background .65s, width .75s ease-in-out;
	-o-transition: background .65s, width .75s ease-in-out;
	transition: background .65s, width .75s ease-in-out;
}

nav.open {
	background: rgba(0, 0, 0, 1);
	width: 450px;

	-webkit-transition: background .4s .2s, width .75s ease-out;
	-moz-transition: background .4s .2s, width .75s ease-out;
	-o-transition: background .4s .2s, width .75s ease-out;
	transition: background .4s .2s, width .75s ease-out;
}

.burger-nav {
	position: absolute;
	top: 10px;
	right: 30px;
	background: url(../images/burger-nav.png) no-repeat center;
	background-size: cover;
	width: 50px;
	height: 50px;
	z-index: 11;
	cursor: pointer;
}

.burger-nav.close-it{
	background: url(../images/close.png) no-repeat center;
	background-size: cover;
}

nav ul#main-nav {
	opacity: 0;

	-webkit-transition: opacity .65s ease-in-out;
	-moz-transition: opacity .65s ease-in-out;
	-o-transition: opacity .65s ease-in-out;
	transition: opacity .65s ease-in-out;
}

#main-nav.visible {
	opacity: 1;

	-webkit-transition: opacity .4s .2s ease-out;
	-moz-transition: opacity .4s .2s ease-out;
	-o-transition: opacity .4s .2s ease-out;
	transition: opacity .4s .2s ease-out;
}

ul#main-nav li {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: #f2f2f2 solid 1px;
}

ul#main-nav li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.25rem;
}

ul#main-nav li:hover {
	background: #663399;
}

/* ===== Footer ===== */

footer {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 60px;
}

/* ========== HOME PAGE ========== */

.wrapper#home {
	background: url(../images/bg01.jpg)fixed no-repeat center;
	background-size: cover;
	overflow: hidden;
	-webkit-animation-name: swell;
	-webkit-animation-duration: 20s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;

	-moz-animation: swell 20s linear forwards;
	-o-animation: swell 20s linear forwards;
	animation: swell 20s linear forwards;
}

/* ========== ABOUT ME PAGE ========== */

.wrapper#about-page {
	z-index: 40;
}

header#about-header {
	position: absolute;
	top: 0;
	overflow: hidden;
}

.col-div {
	width: 40%;
	height: 100%;
	float: left;
}

#col-right {
	width: 20%;
	height: 100%;
	float: left;
}

.left {
	width: 100%;
	height: 50%;
	float: left;
}

.left#top-div {
	background: url(../images/about-bg1.jpg) no-repeat center;
	background-size: cover;
}

.left#bottom-div {
	position: relative;
	background: url(../images/about-bg3.jpg) no-repeat center;
	background-size: cover;
}

.middle-big {
	width: 100%;
	height: 100%;
	float: left;
	background: url(../images/about-bg2.jpg) no-repeat center;
	background-size: cover;
}

#right-header {
	position: fixed;
	width: 100%;
	height: 70px;
	background: #000000;
	display: none;
}

.right-tall {
	width: 100%;
	height: 100%;
	float: left;
	overflow-x: auto;
}

#black-cap {
	width: 100%;
	height: 80px;
	background: #000000;
	margin-bottom: 40px;
}

#head-shot {
	width: 200px;
	height: 200px;
	margin: auto;
	background: url(../images/shenole01.jpg) no-repeat center;
	background-size: cover;
	border: solid 1px #f2f2f2;
	border-radius: 50%;
}

ul#social-media {
	margin-top: 20px;
	width: 60%;
	list-style-type: none;
	margin: auto;
}

ul#social-media li {
	display: inline-block;
	width: 23%;
	text-align: center;
}

ul#social-media li i {
	margin-top: 15px;
	cursor: pointer;
}

.text-container {
	width: 100%;
}

#resume-btn {
	padding-top: 20px;
}

#workflow-text {
	display: none;
}

.workflow-div {
	position: absolute;
	left: 24%;
	bottom: 0px;
	z-index: 50;
	width: 600px;
	height: 700px;
	background: #ffffff;
	box-shadow: 24px -1px 44px rgba(0, 0, 0, .6);
	animation: rise 1.5s 1s ease-out backwards;
}

#workflow-pic {
	width: 560px;
	height: 275px;
	background: url(../images/about-bg4.jpg) no-repeat center;
	background-size: cover;
	margin: auto;
	border: solid 1px #f2f2f2;
}

/* ========== PROJECTS PAGE ========== */

.wrapper#projects {
	background: url(../images/bg02.jpg)fixed no-repeat center;
	background-size: cover;
	overflow: hidden;
}

.left-project-container{
	width: 20%;
	height: 100%;
	float: left;
}

ul.project-menu {
	list-style-type: none;
}

ul.project-menu li {
	display: block;
	margin-left: 30px;
}

.right-project-container {
	width: 80%;
	height: 100%;
	float: right;
}

ul.tech-list {
	margin-left: 40px;
}

ul.tech-list li {
	list-style-type: disc;
	font-family: 'Open Sans', sans-serif;
	font-size: .8rem;
	line-height: .95rem;
	color: #ffffff;
}

.project-text-left {
	position: relative;
	top: 4%;
	left: 20%;
	width: 75%;
	padding: 20px;
	background: rgba(0, 0, 0, .7);
	border-radius: 20px;
}

.project-text-left#proj-des1 {
	display: none;
}

.project-text-left#proj-des2 {
	display: none;
}

.project-text-left#proj-des3 {
	display: none;
}

.project-text-left#proj-des4 {
	display: none;
}

.project-text-right {
	position: absolute;
	top: 10%;
	right: 4%;
	width: 720px;
	height: 400px;
}

.res-screen-shots {
	position: relative;
	width: 375px;
	height: 225px;
}

.mobile-view-project {
	display: none;
}

.project-col {
	width: 25%;
	margin-top: 20px;
	text-align: center;
}

.project-col:hover {

}

img.project- {
	max-width: 375%;
	box-shadow: 24px 17px 44px rgba(0, 0, 0, .7);
	cursor: pointer;
}

img.project- {
	-webkit-transition: transform .4s;
	-moz-transition: transform .4s;
	-o-transition: transform .4s;
	transition: transform .4s;
}

img.project-:hover {
	transform: scale(1.1);

	-webkit-transition: transform .4s;
	-moz-transition: transform .4s;
	-o-transition: transform .4s;
	transition: transform .4s;
}

/* ========== CONTACT PAGE ========== */

.wrapper#contact {
	background: url(../images/bg3.jpg)fixed no-repeat center;
	background-size: cover;
	overflow: hidden;
	-webkit-animation-name: swell;
	-webkit-animation-duration: 20s;
	-webkit-animation-direction: reverse;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;

	-moz-animation: swell 20s reverse linear forwards;
	-o-animation: swell 20s reverse linear forwards;
	animation: swell 20s reverse linear forwards;
}

#contact-container {
	width: 30%;
	padding: 100px;
	float: right;
}

a#email {
	color: #ffffff;
}

ul#social-media-contact {
	margin-top: 20px;
	width: 60%;
	list-style-type: none;
}

ul#social-media-contact li {
	display: inline-block;
	width: 23%;
	text-align: center;
}

ul#social-media-contact li i {
	margin-top: 15px;
	color: #ffffff;
	cursor: pointer;
}

.sub-footer {
	position: absolute;
	top: 90%;
	width: 100%;
	height: 30px;
}

footer#contact-footer {
	background: #000000;
}

.footer-text {
	width: 50%;
	height: 100%;
}

/* ========== MEDIA QUERIES ========== */

/* ----- X-Large Tablets (landscape) ----- */

@media only screen and (max-width: 1440px)
and (orientation: landscape) {

	/* ========== HOME PAGE ========== */

	.wrapper#home {
		background: url(../images/bg01-tablet-land.jpg)fixed no-repeat center;
	}

	/* ========== ABOUT PAGE ========== */

	.col-div {
		width: 36%;
	}

	#col-right {
		width: 28%;
	}

	#head-shot {
		width: 170px;
		height: 170px;
	}

	p {
		margin-right: 40px;
		margin-bottom: 30px;
	}

	p.button-text {
		font-size: 1em;
		margin: auto;
	}

	.workflow-div {
		left: 20%;
	}

	/* ========= PROJECTS ========== */

	.wrapper#projects {
		background: url(../images/bg02-tablet-land.jpg)fixed no-repeat center;
	}

	.project-text-left {
		top: 4%;
		left: 10%;
		width: 80%;
	}

	p.white-text {
		font-size: .8em;
		margin-left: 20;
		margin-right: 0;
	}

	.button02 {
		margin-left: 20px;
		margin-right: 0;
	}

	img {
		max-width: 75%;
	}

	.project-col {
		margin-top: 10px;
		margin-bottom: 60px;
	}

	/* ========== CONTACT PAGE ========== */

	.wrapper#contact {
		background: url(../images/bg3-tablet-land.jpg)fixed no-repeat center;
		background-size: cover;
	}
}

/* ----- X-Large Tablets (portrait) ----- */

@media only screen and (max-width: 1024px)
and (orientation: portrait) {

	/* ----- Animations ----- */

	@-webkit-keyframes rise-port {
		0% {
			height: 0;
		}

		100% {
			height: 300px;
		}
	}

	@-moz-keyframes rise-port {
		0% {
			height: 0;
		}

		100% {
			height: 300px;
		}
	}

	@-o-keyframes rise-port {
		0% {
			height: 0;
		}

		100% {
			height: 300px;
		}
	}

	@keyframes rise-port {
		0% {
			height: 0;
		}

		100% {
			height: 300px;
		}
	}

	/* ========== HOME PAGE ========== */

	.wrapper#home {
		background: url(../images/bg01-tablet-port.jpg)fixed no-repeat center;
	}

	h1 {
		letter-spacing: 1.5rem;
		word-spacing: 2.175rem;
		font-size: 1.75rem;
	}

	/* ========== ABOUT PAGE ========== */

	.col-div {
		width: 30%;
	}

	#col-right {
		width: 40%;
	}

	.workflow-div {
		left: 0;
		width: 1024px;
		height: 300px;
		box-shadow: 0px -1px 64px rgba(0, 0, 0, .6);
		animation: rise-port 1.5s 1s ease-out backwards;
	}

	.button01 {
		margin-top: 80px;
	}

	/* ========= PROJECTS ========== */

	h3#project-heading {
		margin-top: 15px;
	}

	.project-col {
		width: 100%;
		margin-top: 60px;
	}

	img.project- {
		max-width: 90%;
	}

	.left-project-container {
		width: 35%;
	}

	.right-project-container {
		width: 65%;
	}

	.project-text-left {
		position: relative;
		top: 15%;
		left: 3%;
		width: 47%;
		margin-right: 0;
		border-radius: 12px;
	}

	/* ========== CONTACT PAGE ========== */

	.wrapper#contact {
		background: url(../images/bg3-tablet-port.jpg)fixed no-repeat center;
	}

	#contact-container {
		position: relative;
		top: 18%;
	}

}

/* ----- Large Tablets (landscape) ----- */

@media only screen and (max-width: 1280px)
and (orientation: landscape) {

	/* ----- Animations ----- */

	@-webkit-keyframes rise-large-land {
		0% {
			height: 0;
		}

		100% {
			height: 625px;
		}
	}

	@-moz-keyframes rise-large-land {
		0% {
			height: 0;
		}

		100% {
			height: 625px;
		}
	}

	@-o-keyframes rise-large-land {
		0% {
			height: 0;
		}

		100% {
			height: 625px;
		}
	}

	@keyframes rise-large-land {
		0% {
			height: 0;
		}

		100% {
			height: 625px;
		}
	}

	/* ========== HOME PAGE ========== */

	nav.open {
		width: 375px;
	}

	h1.site-title {
		letter-spacing: 1.1rem;
		word-spacing: 1.9rem;
		font-size: 1.25rem;
	}

	h3.footer-subtitle {
		letter-spacing: .65rem;
		word-spacing: 1.2rem;
		font-size: .9rem;
	}

	/* ========== ABOUT PAGE ========== */

	h3 {
		font-size: 1.75rem;
		word-spacing: .25rem;	
	}

	p {
		font-size: .8rem;
		line-height: 1.15rem;
		margin-left: 20px;
		margin-bottom: 1rem;
		margin-right: 20px;
	}

	.workflow-div {
		left: 20%;
		width: 600px;
		height: 625px;
		box-shadow: 0px -1px 64px rgba(0, 0, 0, .6);
		animation: rise-large-land 1.5s 1s ease-out backwards;
	}

	/* ========== PROJECTS PAGE ========== */

		.wrapper#contact {
			background: url(../images/bg3-tablet-land02.jpg)fixed no-repeat center;
		}
}

		.project-text-left {
			top: 2%;
			left: 5%;
			width: 88%;
			padding: 11px;
		}

		img.res-screen-shots {
			max-width: 70%;
			max-height: 70%;
		}
}

/* ----- Large Tablets (portrait) ----- */

@media only screen and (max-width: 800px)
and (orientation: portrait) {

	/* ========== HOME PAGE ========== */
	.wrapper#home {
		background: url(../images/bg01-tablet-port02.jpg)fixed no-repeat center;
	}

	h1.site-title {
		letter-spacing: 1.1rem;
		word-spacing: 1.9rem;
		font-size: 1.15rem;
	}

	h3.footer-subtitle {
		letter-spacing: .65rem;
		word-spacing: 1.2rem;
		font-size: .9rem;
	}

	/* ========== ABOUT PAGE ========== */

	.wrapper#home {
		background: url(../images/bg01-tablet-port02.jpg)fixed no-repeat center;
	}

	#head-shot {
		width: 140px;
		height: 140px;
	}

	.button01 {
		margin-top: 40px;
	}

	/* ========== CONTACT PAGE ========== */

	.wrapper#contact {
		background: url(../images/bg3-tablet-port02.jpg)fixed no-repeat center;
	}

	#contact-container {
		width: 40%;
		padding: 40px;
	}

	ul#social-media {
		width: 70%;
	}
}

/* ----- Medium Tablets (landscape) ----- */

@media only screen and (max-width: 1024px)
and (orientation: landscape) {

	nav.open {
		width: 300px;
	}

	/* ========== ABOUT PAGE ========== */	

	#head-shot {
		width: 120px;
		height: 120px;
	}

	.workflow-div {
		left: 12%;
		width: 575px;
		height: 625px;
	}

	h3 {
		margin-top: 30px;
		margin-bottom: 20px;
	}
}

/* ----- Medium Tablets (portrait) ----- */

@media only screen and (max-width: 768px)
and (orientation: portrait) {

	/* ----- Animations ----- */

	@-webkit-keyframes rise-md-port {
		0% {
			height: 0;
		}

		100% {
			height: 524px;
		}
	}

	@-moz-keyframes rise-md-port {
		0% {
			height: 0;
		}

		100% {
			height: 524px;
		}
	}

	@-o-keyframes rise-md-port {
		0% {
			height: 0;
		}

		100% {
			height: 524px;
		}
	}

	@keyframes rise-md-port {
		0% {
			height: 0;
		}

		100% {
			height: 524px;
		}
	}

	/* ========== ABOUT PAGE ========== */	

	.workflow-div {
		left: 6%;
		width: 380px;
		height: 524px;
		animation: rise-md-port 1.5s 1s ease-out backwards;
	}

	/* ========== PROJECTS PAGE ========== */	

	#lower-project-container {
		position: absolute;
		top: 67%;
		height: 35%;
	}

	img {
		max-width: 50%;
	}
}

/* ----- Large Phones (landscape) ----- */

@media only screen and (max-width: 800px)
and (orientation: landscape) {

	header {
		z-index: 9;
		margin-top: 10px;
	}

	body {
		overflow: auto;
	}

	nav.open {
		width: 260px;
	}

	ul#main-nav li {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	/* ========== ABOUT PAGE ========== */

	.col-div {
		display: none;
	}

	#col-right {
		width: 100%;
	}

	#right-header {
		position: fixed;
		display: block;
	}

	#black-cap {
		height: 70px;
	}

	.text-container {
		margin-bottom: 36px;
	}

	#workflow-text {
		display: block;
	}

	.workflow-div {
		display: none;
	}

	/* ========== PROJECT PAGE ========== */

	/*.wrapper#projects {
		background: url(../images/bg02-phone-land.jpg)fixed no-repeat center;
	}

	.wrapper#projects {
	}

	.upper-project-container {
		display: none;
	}

	.lower-project-container {
	}

	.project-col {
		width: 100%;
	}*/

	/* ========== CONTACT PAGE ========== */

	.wrapper#contact {
		background: url(../images/bg3-phone-land.jpg)fixed no-repeat center;
	}

	#contact-container {
		width: 40%;
		padding: 10px;
		margin-right: 30px;
	}

	.text-container {
		margin-bottom: 7px;
	}

	ul#social-media-contact {
		margin-top: 8px;
	}
}

	/* ----- Large Phones (portrait) ----- */

@media only screen and (max-width: 420px)
and (orientation: portrait) {

	header {
		z-index: 9;
		margin-top: 10px;
	}

	h1.site-title {
		letter-spacing: .7rem;
		word-spacing: 1rem;
		font-size: .8rem
	}

	h3 {
		font-size: 1.3rem;
		word-spacing: .2rem;	
	}

	h3.footer-subtitle {
		letter-spacing: .45rem;
		word-spacing: .9rem;
		font-size: .7rem;
	}

	p {
		font-size: .85rem;
		line-height: 1.1rem;
		margin-left: 10px;
		margin-bottom: 1rem;
		margin-right: 10px;
	}

	.burger-nav {
		position: absolute;
		top: 10px;
		right: 15px;
		width: 43px;
		height: 43px;
	}

		nav.open {
		width: 260px;
	}

	/* ========== HOME PAGE ========== */

	.wrapper#home {
		background: url(../images/bg01-phone-port.jpg)fixed no-repeat center;
	}


	/* ========== ABOUT PAGE ========== */

	.col-div {
		display: none;
	}

	#col-right {
		width: 100%;
	}

	#right-header {
		position: fixed;
		display: block;
	}

	#black-cap {
		height: 70px;
	}

	.text-container {
		margin-bottom: 36px;
	}

	#workflow-text {
		display: block;
	}

	.workflow-div {
		display: none;
	}

	/* ========== PROJECTS PAGE ========== */

	/* ========== CONTACT PAGE ========== */

	.wrapper#contact {
		background: url(../images/bg3-phone-port.jpg)fixed no-repeat center;
	}

	#contact-container {
		width: 50%;
		padding: 10px;
		margin-right: 0px;
	}

	.text-container {
		margin-bottom: 7px;
	}

	ul#social-media-contact {
		width: 100%;
		margin-top: 8px;
		margin-right: 0;
	}

	.sub-footer {
		top: 87%;
	}

}

	/* ----- Standard Phones (portrait) ----- */

@media only screen and (max-width: 380px)
and (orientation: portrait) {

	h1.site-title {
		letter-spacing: .6rem;
		word-spacing: .75rem;
		font-size: .65rem
	}

	h3 {
		font-size: 1.3rem;
		word-spacing: .2rem;	
	}

	h3.footer-subtitle {
		letter-spacing: .35rem;
		word-spacing: .75rem;
		font-size: .65rem;
		text-align: center;
	}

	h6 {
		display: none;
	}

	p {
		font-size: .85rem;
		line-height: 1.1rem;
		margin-left: 10px;
		margin-bottom: 1rem;
		margin-right: 10px;
	}

	.burger-nav {
		position: absolute;
		top: 10px;
		right: 15px;
		width: 43px;
		height: 43px;
	}

	/* ========== HOME PAGE ========== */


}