/* ========== BROWSER RESET ========== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========== FONTS ========== */

h1.site-title {
	position: relative;
	top: 3%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5rem;
	word-spacing: 2.175rem;
	font-size: 1.75rem;
	color: #ffffff;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, .7);
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	font-style: bold;
	word-spacing: .5rem;
	text-transform: uppercase;
	margin-top: 40px;
	margin-left: 20px;
	margin-bottom: 30px;
}

h3.footer-subtitle {
	margin-top: 20px;
	margin-right: 30px;
	padding: 0;
	letter-spacing: .75rem;
	word-spacing: 1.5rem;
	font-size: 1.2rem;
	text-align: right;
	color: #ffffff;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, .7);
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	text-align: center;
	word-spacing: .5rem;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	margin-top: 7px;
	text-align: center;
	word-spacing: .3rem;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.45rem;
	margin-left: 20px;
	margin-bottom: 1.25rem;
	margin-right: 20px;

}

p.button-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
	font-style: bold;
	text-align: center;
	margin-bottom: 0;
	color: #ffffff;
}

/* ========== MAIN ========== */

html, body {
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.overlay {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: rgba(0, 0, 0, 1); */
}

.button01 {
	width: 250px;
	height: 50px;
	background: #ff3300;
	text-align: center;
	border-radius: 16px;
	margin: auto;
	padding: 0;
}

.button01:hover {
	cursor: pointer;
}

/* ===== Header ===== */

header {
	width: 100%;
	height: 30px;
	padding: 10px 30px;
	margin: 0;
}

/* ===== Navigation ===== */

nav {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 75px;
	background: #000099;
	z-index: 10;
}

.burger-nav {
	position: absolute;
	top: 10px;
	right: 30px;
	background: url(../images/burger-nav.png) no-repeat center;
	background-size: cover;
	width: 50px;
	height: 50px;
	z-index: 11;
	cursor: pointer;
}

.burger-nav.close-it{
	background: url(../images/close.png) no-repeat center;
	background-size: cover;
}

nav ul#main-nav {
	width: 0px;
}

nav ul#main-nav.open {
	width: 450px;
}

ul#main-nav li {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 25px 10px;
	background: #000099;
	border-bottom: #f2f2f2 solid 1px;
}

ul#main-nav li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.25rem;
}

ul#main-nav li:hover {
	background: #0066ff;
}

/* ===== Footer ===== */

footer {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 60px;
}

/* ========== HOME PAGE ========== */

.overlay#home-overlay {
	/* background: rgba(0, 0, 0, 1); */	
}

.wrapper#home {
	background: url(../images/bg01.jpg)fixed no-repeat center;
	background-size: cover;
	overflow: hidden;
}

footer#home-footer {
	
}

/* ========== ABOUT ME PAGE ========== */

header#about-header {
	position: absolute;
	top: 0;
	left: 0;
}

.wrapper#about-page {
	overflow: hidden !important;
}

.left {
	width: 40%;
	height: 50%;
	float: left;
}

.left#top-div {
	background: url(../images/about-bg1.jpg) no-repeat center;
	background-size: cover;
}

.left#bottom-div {
	position: relative;
	top: -50%;
	background: url(../images/about-bg3.jpg) no-repeat center;
	background-size: cover;
}

video {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

.middle-big {
	width: 40%;
	height: 100%;
	float: left;
	background: url(../images/about-bg2.jpg) no-repeat center;
	background-size: cover;
}

.right-tall {
	width: 20%;
	height: 100%;
	float: left;
}

#black-cap {
	width: 100%;
	height: 80px;
	background: #000000;
	margin-bottom: 40px;
}

#head-shot {
	width: 200px;
	height: 200px;
	margin: auto;
	background: url(../images/shenole01.jpg) no-repeat center;
	background-size: cover;
	border: solid 1px #f2f2f2;
	border-radius: 50%;
}

ul#social-media {
	margin-top: 20px;
	width: 60%;
	list-style-type: none;
	margin: auto;
}

ul#social-media li {
	display: inline-block;
	width: 23%;
	text-align: center;
}

ul#social-media li i {
	margin-top: 15px;
	cursor: pointer;
}

.text-container {
	width: 100%;
}

#resume-btn {
	padding-top: 20px;
}