/* ========== BROWSER RESET ========== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========== FONTS ========== */

h1.site-title {
	position: relative;
	top: 3%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5rem;
	word-spacing: 2.175rem;
	font-size: 1.75rem;
	color: #ffffff;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, .7);
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	font-style: bold;
	word-spacing: .5rem;
	text-transform: uppercase;
	margin-top: 40px;
	margin-left: 20px;
	margin-bottom: 30px;
}

h3.footer-subtitle {
	margin-top: 20px;
	margin-right: 30px;
	padding: 0;
	letter-spacing: .75rem;
	word-spacing: 1.5rem;
	font-size: 1.2rem;
	text-align: right;
	color: #ffffff;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, .7);
}

h3#project-heading {
	margin-top: 50px;
	margin-right: 0;
	text-align: center;
	color: #ffffff;
}

h3.white-h3 {
	color: #ffffff;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	text-align: center;
	word-spacing: .5rem;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	margin-top: 7px;
	text-align: center;
	word-spacing: .3rem;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.45rem;
	margin-left: 20px;
	margin-bottom: 1.25rem;
	margin-right: 20px;
}

p.white-text {
	color: #ffffff;
}

p.button-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
	font-style: bold;
	text-align: center;
	margin-bottom: 0;
	color: #ffffff;
}

/* ========== ANIMATIONS ========== */

@-webkit-keyframes swell {
	0% {
		background-size: 100%;
	}

	100% {
		background-size: 125%;
	}
}

@-moz-keyframes swell {
	0% {
		background-size: 100%;
	}

	100% {
		background-size: 125%;
	}
}

@-o-keyframes swell {
	0% {
		background-size: 100%;
	}

	100% {
		background-size: 125%;
	}
}

@keyframes swell {
	0% {
		background-size: 100%;
	}

	100% {
		background-size: 125%;
	}
}

@-webkit-keyframes rise {
	0% {
		height: 0;
	}

	100% {
		height: 700px;
	}
}

@-moz-keyframes rise {
	0% {
		height: 0;
	}

	100% {
		height: 700px;
	}
}

@-o-keyframes rise {
	0% {
		height: 0;
	}

	100% {
		height: 700px;
	}
}

@keyframes rise {
	0% {
		height: 0;
	}

	100% {
		height: 700px;
	}
}

/* ========== MAIN ========== */

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.overlay {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: rgba(0, 0, 0, 1); */
}

.button01 {
	width: 250px;
	height: 50px;
	background: #ff3300;
	text-align: center;
	border-radius: 16px;
	margin: auto;
	padding: 0;
}

.button01:hover {
	cursor: pointer;
}

/* ===== Header ===== */

header {
	width: 100%;
	height: 30px;
	padding: 10px 30px;
	margin: 0;
}

/* ===== Navigation ===== */

nav {
	position: absolute;
	top: 0;
	right: 0px;
	width: 0px;
	padding-top: 75px;
	z-index: 10;
	width: 0px;

	-webkit-transition: background .65s, width .75s ease-in-out;
	-moz-transition: background .65s, width .75s ease-in-out;
	-o-transition: background .65s, width .75s ease-in-out;
	transition: background .65s, width .75s ease-in-out;
}

nav.open {
	background: rgba(0, 0, 0, 1);
	width: 450px;

	-webkit-transition: background .4s .2s, width .75s ease-out;
	-moz-transition: background .4s .2s, width .75s ease-out;
	-o-transition: background .4s .2s, width .75s ease-out;
	transition: background .4s .2s, width .75s ease-out;
}

.burger-nav {
	position: absolute;
	top: 10px;
	right: 30px;
	background: url(../images/burger-nav.png) no-repeat center;
	background-size: cover;
	width: 50px;
	height: 50px;
	z-index: 11;
	cursor: pointer;
}

.burger-nav.close-it{
	background: url(../images/close.png) no-repeat center;
	background-size: cover;
}

nav ul#main-nav {
	opacity: 0;

	-webkit-transition: opacity .65s ease-in-out;
	-moz-transition: opacity .65s ease-in-out;
	-o-transition: opacity .65s ease-in-out;
	transition: opacity .65s ease-in-out;
}

#main-nav.visible {
	opacity: 1;

	-webkit-transition: opacity .4s .2s ease-out;
	-moz-transition: opacity .4s .2s ease-out;
	-o-transition: opacity .4s .2s ease-out;
	transition: opacity .4s .2s ease-out;
}

ul#main-nav li {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: #f2f2f2 solid 1px;
}

ul#main-nav li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.25rem;
}

ul#main-nav li:hover {
	background: #663399;
}

/* ===== Footer ===== */

footer {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 60px;
}

/* ========== HOME PAGE ========== */

/*.overlay#home-overlay {
	background: rgba(0, 0, 0, 1);	
}*/

.wrapper#home {
	background: url(../images/bg01.jpg)fixed no-repeat center;
	background-size: cover;
	overflow: hidden;
	-webkit-animation-name: swell;
	-webkit-animation-duration: 20s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;

	-moz-animation: swell 20s linear forwards;
	-o-animation: swell 20s linear forwards;
	animation: swell 20s linear forwards;
}

footer#home-footer {
	
}

/* ========== ABOUT ME PAGE ========== */

.wrapper#about-page {
	z-index: 40;
}

header#about-header {
	position: absolute;
	top: 0;
	overflow: hidden;
}

.col-div {
	width: 40%;
	height: 100%;
	float: left;
}

#col-right {
	width: 20%;
	height: 100%;
	float: left;
}

.left {
	width: 100%;
	height: 50%;
	float: left;
}

.left#top-div {
	background: url(../images/about-bg1.jpg) no-repeat center;
	background-size: cover;
}

.left#bottom-div {
	position: relative;
	background: url(../images/about-bg3.jpg) no-repeat center;
	background-size: cover;
}

video {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

.middle-big {
	width: 100%;
	height: 100%;
	float: left;
	background: url(../images/about-bg2.jpg) no-repeat center;
	background-size: cover;
}



.right-tall {
	width: 100%;
	height: 100%;
	float: left;
}

#black-cap {
	width: 100%;
	height: 80px;
	background: #000000;
	margin-bottom: 40px;
}

#head-shot {
	width: 200px;
	height: 200px;
	margin: auto;
	background: url(../images/shenole01.jpg) no-repeat center;
	background-size: cover;
	border: solid 1px #f2f2f2;
	border-radius: 50%;
}

ul#social-media {
	margin-top: 20px;
	width: 60%;
	list-style-type: none;
	margin: auto;
}

ul#social-media li {
	display: inline-block;
	width: 23%;
	text-align: center;
}

ul#social-media li i {
	margin-top: 15px;
	cursor: pointer;
}

.text-container {
	width: 100%;
}

#resume-btn {
	padding-top: 20px;
}

.workflow-div {
	position: absolute;
	left: 24%;
	bottom: 0px;
	z-index: 50;
	width: 600px;
	height: 700px;
	background: #ffffff;
	box-shadow: 24px -1px 44px rgba(0, 0, 0, .6);
	animation: rise 1.5s 1s ease-out backwards;
}

/* .workflow-div.visible {
	bottom: 0;
} */

#workflow-pic {
	width: 560px;
	height: 275px;
	background: url(../images/about-bg4.jpg) no-repeat center;
	background-size: cover;
	margin: auto;
	border: solid 1px #f2f2f2;
}

/* ========== PROJECTS PAGE ========== */

.wrapper#projects {
	background: url(../images/bg02.jpg)fixed no-repeat center;
	background-size: cover;
	overflow: hidden;
}

#upper-project-container {
	width: 100%;
	height: 55%;
}

.project-text-left {
	position: absolute;
	top: 25%;
	left: 12%;
	width: 420px;
	height: 400px;
	display: none;
}

.project-text-right {
	position: absolute;
	top: 25%;
	right: 12%;
	width: 420px;
	height: 400px;
	display: none;
}

.show-description {
	display: block;
}

#lower-project-container{
	width: 100%;
	height: 45%;
}

.project-col {
	width: 25%;
	margin-top: 20px;
	text-align: center;
	float: left;

	-webkit-transition: transform .4s;
	-moz-transition: transform .4s;
	-o-transition: transform .4s;
	transition: transform .4s;
}

.project-col:hover {
	transform: scale(1.1);

	-webkit-transition: transform .4s;
	-moz-transition: transform .4s;
	-o-transition: transform .4s;
	transition: transform .4s;
}

img {
	max-width: 100%;
	box-shadow: 24px 17px 44px rgba(0, 0, 0, .7);
	cursor: pointer;
}

/* ========== CONTACT PAGE ========== */

.wrapper#contact {
	background: url(../images/bg3.jpg)fixed no-repeat center;
	background-size: cover;
	overflow: hidden;
	-webkit-animation-name: swell;
	-webkit-animation-duration: 20s;
	-webkit-animation-direction: reverse;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;

	-moz-animation: swell 20s reverse linear forwards;
	-o-animation: swell 20s reverse linear forwards;
	animation: swell 20s reverse linear forwards;
}

#contact-container {
	width: 30%;
	padding: 100px;
	float: right;
}

a#email {
	color: #ffffff;
}

footer#contact-footer {
	background: #000000;
}

a#email {
	color: #ffffff;
}